.box {
    min-height: 100px;
    background-color: rgb(0, 81, 255);
    border: 1px solid black;
}

.box-nested {
    min-height: 100px;
    background-color: turquoise;
    border: 1px solid black;
}

.bg {
    background-color: red;
    padding: 20px;
}